<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="signos.com.example.danilo.signos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Aries" />
        <activity android:name=".Touro" />
        <activity android:name=".Gemeos" />
        <activity android:name=".Cancer" />
        <activity android:name=".Leao" />
        <activity android:name=".Virgem" />
        <activity android:name=".Libra" />
        <activity android:name=".Escorpiao" />
        <activity android:name=".Sagitario" />
        <activity android:name=".Capricornio" />
        <activity android:name=".Aquario" />
        <activity android:name=".Peixes"></activity>
    </application>

</manifest>